{% extends 'core/base-blog.html' %}

{% block container %}


    <h2>Lista de capitulos "jogo {{ object_list.nome }}{{ object }}"</h2>




    <div class="row">
        {% for capitulo in object_list %}
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <a href="{% url 'CapituloJogoDetailView' capitulo.pk %}">
                        {% if  capitulo.imagem %}
                            <img class="card-img-top" src="{{ capitulo.imagem.url }}" alt="Card image cap">
                        {% else %}
                            <img class="card-img-top" src="http://placehold.it/750x300"
                                 alt="Card image cap">
                        {% endif %}
                        <h4 class="card-header">{{ capitulo.nome|safe }}</h4>
                        <div class="card-body">
                            {% if post.sumario %}
                                {{ capitulo.sumario }}
                            {% else %}
                                {{ capitulo.descricao  |safe |truncatewords:10 }}
                            {% endif %}

                        </div>

                    </a>

                </div>
            </div>
        {% endfor %}

    </div>
    <!-- /.row -->


{% endblock %}
